.display-4{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: blue;

}
#timer{
  width: 100vw;
  height: 10vw;
  background-color: green;
  text-align: center;
  color: white;
  padding-top: 15px;
  font-size: 40px;
  
  
}
.container{
  width: 80vw;
  height: 90vh;
  border: black,10px,solid;
}
#timer{
  text-align: center;
}
#questionBox{
  text-align: center;
}
#clever{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}
.btn{
  margin-left: 80vw;
}